

.maindiv_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 1.875rem;
    height: 100vh;
}

.offi_websites, .yt_videos, .Projects, .Roadmap, .Courses, .Suggestion_form{
    border: 5px solid red;
    background-color: white;
    color: black;
    border-radius: 2.188rem;
    height: 300px;
}

.offi_websites h4,.yt_videos h4,.Projects h4,.Roadmap h4,.Courses h4,.Suggestion_form h4{
    text-align: center;
    margin: auto;
}

.marquee_div{
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
    height: 85%;
    width: 90%;
    margin: auto;
}

.site1{
    margin: auto;
    padding: 10px;
}

.site1 p{
    border: 2px solid red;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.img_marquee{
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
    height: 85%;
    width: 90%;
    margin: auto;
}

.yt1{
    margin: auto;
    padding: 10px;
}

.im1{
    height: 200px;
    width: 250px;
}

.cr1{
    margin: auto;
    padding: 10px;
}