h2{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    
}
#contact{
    height: auto;
}

.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap :24%;
    /* border:2px solid red; */
    margin-top: 200px;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__options h2{
    margin: auto;
    margin-top: 40px;
}
.contact__option{
    background: var(--color-bg-variant);
    padding:1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option a{
    color: white;
}

.contact__option a:hover{
    color:blueviolet
}


.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

/*------form-----------*/
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 6rem;
}

input,textarea{
    width: 100%;
    padding: 3rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: aliceblue;
    margin: auto;
}

.btn{
    width:max-content;
    display: inline-block;
    color:var(--color-primary);
    padding:0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor:pointer;
    border:1px solid var(--color-primary);
    transition: var(--transition);
  }
  
  .btn:hover{
    background: var(--color-white);
    color:var(--color-bg);
    border-color: transparent;
  
  }
  
  .btn-primary{
    background: var(--color-primary);
    color:var(--color-bg);
  
  }

/* -----media queires for (medium devices)----- */
@media screen and (max-width:1024px){
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    
}

/* -----media queires for (medium devices)----- */
@media screen and (max-width:600px){
    .container.contact__container{
        width: var(--container-width-sm);
    }
    .contact__container{
        display: flex;
        flex-wrap: wrap;

    }
}
