.maskgroup {
  width: 1440px;
  height: 1024px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.desktop1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(254, 221, 255, 1);
}
.rectangle6 {
  top: 122px;
  left: 19px;
  width: 450px;
  height: 400px;
  position: absolute;
}
.rectangle7 {
  top: 121px;
  left: 498px;
  width: 450px;
  height: 400px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle23 {
  top: 154px;
  left: 49px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle8 {
  top: 123px;
  left: 970px;
  width: 450px;
  height: 400px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle25 {
  top: 154px;
  left: 49px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle9 {
  top: 542px;
  left: 19px;
  width: 450px;
  height: 400px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle10 {
  top: 542px;
  left: 498px;
  width: 450px;
  height: 400px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle11 {
  top: 542px;
  left: 970px;
  width: 450px;
  height: 400px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.vector {
  top: 27px;
  left: 1365px;
  width: 40px;
  height: 40px;
  opacity: 0.80;
  position: absolute;
}
.rectangle17 {
  top: 34px;
  left: 530px;
  width: 380px;
  height: 65px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.rectangle2 {
  top: 992px;
  left: 0px;
  width: 1440px;
  height: 32px;
  opacity: 0.35;
  position: absolute;
}
.rectangle18 {
  top: 243px;
  left: 49px;
  width: 390px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.rectangle19 {
  top: 313px;
  left: 49px;
  width: 390px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.rectangle20 {
  top: 383px;
  left: 49px;
  width: 390px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.rectangle21 {
  top: 453px;
  left: 49px;
  width: 390px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.rectangle22 {
  top: 154px;
  left: 49px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text {
  top: 165px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle24 {
  top: 154px;
  left: 528px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text02 {
  top: 165px;
  left: 586px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle26 {
  top: 154px;
  left: 1000px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text04 {
  top: 165px;
  left: 1095px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle27 {
  top: 568px;
  left: 49px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text06 {
  top: 579px;
  left: 167px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle28 {
  top: 568px;
  left: 528px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text08 {
  top: 579px;
  left: 612px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle29 {
  top: 568px;
  left: 1001px;
  width: 390px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.text10 {
  top: 579px;
  left: 1104px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle30 {
  top: 238px;
  left: 528px;
  width: 390px;
  height: 250px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.rectangle31 {
  top: 652px;
  left: 530px;
  width: 390px;
  height: 250px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.rectangle32 {
  top: 353px;
  left: 1001px;
  width: 50px;
  height: 150px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.rectangle33 {
  top: 328px;
  left: 1088px;
  width: 50px;
  height: 175px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.rectangle34 {
  top: 303px;
  left: 1171px;
  width: 50px;
  height: 200px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.rectangle35 {
  top: 278px;
  left: 1253px;
  width: 50px;
  height: 225px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.rectangle36 {
  top: 253px;
  left: 1341px;
  width: 50px;
  height: 250px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.rectangle37 {
  top: 652px;
  left: 49px;
  width: 390px;
  height: 250px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.ellipse1 {
  top: 652px;
  left: 1070px;
  width: 250px;
  height: 250px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.text12 {
  top: 720px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text19 {
  top: 992px;
  left: 653px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
