.desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.text {
  top: 23px;
  left: 645px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text02 {
  top: 23px;
  left: 862px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle2 {
  top: 992px;
  left: 0px;
  width: 1440px;
  height: 32px;
  opacity: 0.35;
  position: absolute;
  border-color: transparent;
}
.rectangle3 {
  top: 163.1907196044922px;
  left: 60.22991180419922px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 35px;
}
.rectangle4 {
  top: 157px;
  left: 539px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.rectangle5 {
  top: 157px;
  left: 1000px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 35px;
}
.rectangle6 {
  top: 438px;
  left: 61px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.rectangle7 {
  top: 438px;
  left: 539px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.rectangle8 {
  top: 438px;
  left: 1005px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.rectangle9 {
  top: 707px;
  left: 61px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.rectangle10 {
  top: 707px;
  left: 539px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.rectangle11 {
  top: 707px;
  left: 1000px;
  width: 380px;
  height: 218px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.text04 {
  top: 23px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text06 {
  top: 23px;
  left: 467px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text08 {
  top: 992px;
  left: 653px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text10 {
  top: 243px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text12 {
  top: 240px;
  left: 640px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text14 {
  top: 240px;
  left: 1156px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text16 {
  top: 520px;
  left: 135px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text18 {
  top: 524px;
  left: 576px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text20 {
  top: 520px;
  left: 1178px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text22 {
  top: 792px;
  left: 224px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text24 {
  top: 784px;
  left: 598px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text26 {
  top: 784px;
  left: 1057px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.vector {
  top: 23px;
  left: 1365px;
  width: 40px;
  height: 40px;
  opacity: 0.80;
  position: absolute;
}
.rectangle17 {
  top: 31px;
  left: 539px;
  width: 380px;
  height: 65px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
