h3{
    text-align: center;
    font-style: oblique;
}
#Suggestion{
    height:auto;
}

h2{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.container.suggestion__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap :24%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }


/* .suggestion__options{
    display:grid;
    flex-direction:row;
    gap: 1.2rem;
} */

.suggestion__option{
    padding:5rem 3rem 4rem 2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    height: 400px;
    width: 480px;
}

.suggestion__option h3{
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 3rem;
}


.suggestion-img{
    height: 330px;
    width: 400px;
    
}


/* .suggestion__option a{
    color: white;
} */

/* .suggestion__option a:hover{
    color:blueviolet
} */


/* .suggestion__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
} */

/*------form-----------*/
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea{
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: rgb(230, 238, 247);
}

select{
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: rgb(168, 170, 172);
}
.btn{
    width:max-content;
    display: inline-block;
    
    color:var(--color-primary);
    padding:0.75rem 1rem;
    border-radius: 0.4rem;
    cursor:pointer;
    border:1px solid var(--color-primary);
    transition: var(--transition);
  }
  
  .btn:hover{
    background: var(--color-white);
    color:var(--color-bg);
    border-color: transparent;
  
  }
  
  .btn-primary{
    
    background: var(--color-primary);
    color:var(--color-bg);
  
  }

/* -----media queires for (medium devices)----- */
@media screen and (max-width:1024px){
    .container.suggestion__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    
}

#yash_div{
    height: auto;
}
/* -----media queires for (medium devices)----- */
@media screen and (max-width:600px){
    .container.suggestion__container{
        width: var(--container-width-sm);
    }
    
}


