/* h1{
    font-size: 50px;
}
.nav{
    display: flex;
    justify-content: space-around;
}

.nav_con{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.nav_items{
    display: flex;
    padding: 15px;
}

.nav_items a{
    color: white;
}

.nav_con a:hover{
    background: aqua;
}

/*
#nav1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-color: #332e7b;
}

#nav2{
    border-left-color: #332e7b;
}

#nav3{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
*/ 

nav{
    background: rgba(0, 0, 0, 0.3);
    width:max-content;
    display:block;
    position:fixed;
    padding:0.5rem 1rem ;
    z-index:2;
    left: 50%;
    transform: translateX(-50%);
    /* bottom: 2rem; */
    display: flex;
    gap:0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(4px);
}

nav a{
    background:transparent;
    padding:0.9rem;
    border-radius:50%;
    display:flex;
    color:var(--color-light);
    font-size: 1.1rem;

}
nav a:hover{
    background: rgba(248, 242, 240, 0.4);
}

nav:hover{
    background: purple;
}
