/* h1{
    font-size: 50px;
}
.nav{
    display: flex;
    justify-content: space-around;
}

.nav_con{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.nav_items{
    display: flex;
    padding: 15px;
}

.nav_items a{
    color: white;
}

.nav_con a:hover{
    background: aqua;
} */

/*
#nav1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-color: #332e7b;
}

#nav2{
    border-left-color: #332e7b;
}

#nav3{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
*/

.navcover{
    display: flex;
    justify-content: center;
}

.navicon{
    width: 350px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.navicon a{
    color: white;
    padding: 5px 20px;
    flex-wrap: nowrap;
    border: 2px solid white;
    border-radius: 20px;
}

.navicon a:hover{
    background-color: aqua;
    color: black;
}
