.maindiv_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 1.875rem;
}

#Main {
  height: auto;
}

.offi_websites,
.yt_videos,
.Projects,
.Roadmap,
.Courses,
.Suggestion_form {
    border: 2px solid #31314b;
    /* box-shadow: 0 0 2px #a237db, 0 0 5px #a237db, 0 0 10px #a237db; */
  background-color: #020215;
  color: white;
  border-radius: 0px;
  height: 300px;
}

.offi_websites h4,
.yt_videos h4,
.Projects h4,
.Roadmap h4,
.Courses h4,
.Suggestion_form h4 {
  text-align: center;
  margin: auto;
}

.marquee_div {
  display: flex;
  flex-direction: row;
  text-align: center;
  
  /* box-shadow: 0 0 2px rgb(131, 140, 230), 0 0 5px rgb(131, 140, 230),
    0 0 10px rgb(131, 140, 230); */
  /* border-radius: 20px; */
  height: 85%;
  width: 90%;
  margin: auto;
}
#link_con {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 0px solid rgb(95, 136, 231);
  border-radius: 20px;
  height: 85%;
  width: 90%;
  margin: auto;
}

.all_links {
  border: 0px solid rgb(100, 70, 182);
  height: 190px;
  width: 95%;
  margin: auto;
  border-radius: 20px;
}

.modal_button {
  height: 40px;
  width: 95%;
  margin: auto;
  border-radius: 20px;
}

.modal_button button {
  height: 35px;
  width: 100%;
  border-radius: 20px;
  background-color: aqua;
  font-size: 16px;
  font-weight: bold;
  font-style: "Poppins", sans-serif;
}

#close_btn {
  font-size: 16px;
  font-weight: bold;
  font-style: "Poppins", sans-serif;
}

.modal_button button:hover {
  background-color: greenyellow;
  box-shadow: 0 0 2px #a237db, 0 0 5px #a237db, 0 0 10px #a237db;
}

.site1 {
  margin: auto;
  padding: 10px;
}

.site1 p {

  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  background-color: rgb(221, 185, 243);
}

.site1 a {
  color: blue;
  font-style: italic;
  font-weight: bolder;
}

.img_marquee {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border: 0px solid rgb(131, 140, 230);
  /* box-shadow: 0 0 2px rgb(131, 140, 230), 0 0 5px rgb(131, 140, 230),
    0 0 10px rgb(131, 140, 230); */
  border-radius: 20px;
  height: 85%;
  width: 90%;
  margin: auto;
}

.yt1 {
  margin: auto;
  padding: 10px;
}

.im1 {
  height: 200px;
  width: 390px;
  justify-content: center;
}

.cr1 {
  margin: auto;
  padding: 10px;
}

.course_marquee {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border: 0px solid rgb(131, 140, 230);
  /* box-shadow: 0 0 2px rgb(131, 140, 230), 0 0 5px rgb(131, 140, 230),
    0 0 10px rgb(131, 140, 230); */
  border-radius: 20px;
  height: 85%;
  width: 90%;
  margin: auto;
}

.roadmap_con {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 0px solid rgb(131, 140, 230);
  /* box-shadow: 0 0 2px rgb(131, 140, 230), 0 0 5px rgb(131, 140, 230),
    0 0 10px rgb(131, 140, 230); */

  border-radius: 20px;
  height: 85%;
  width: 90%;
  margin: auto;
}

.road_img {
  border: 0px solid rgb(100, 70, 182);
  height: 190px;
  width: 95%;
  margin: auto;
  border-radius: 0px;
}

.road_img img {
  height: 190px;
  width: 70%;
}

.button {
  border: 0px solid rgb(30, 25, 111);
  height: 30px;
  background-color: rgb(221, 185, 243);
  width: 95%;
  margin: auto;
  border-radius: 0px;
}

.button a {
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  justify-content: flex-start;
  margin-top: 0;
  font-weight: bolder;
  font-style: italic;
  color: blue;
}

.btn {
  border: 2px solid rgb(106, 102, 236);
}

.project_con {
  display: flex;
  flex-direction: column;
  border: 0px solid rgb(131, 140, 230);
  /* box-shadow: 0 0 2px rgb(131, 140, 230), 0 0 5px rgb(131, 140, 230),
    0 0 10px rgb(131, 140, 230); */
  border-radius: 0px;
  height: 85%;
  width: 90%;
  margin: auto;
}

.suggest_con {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 0px solid rgb(131, 140, 230);
  /* box-shadow: 0 0 2px rgb(131, 140, 230), 0 0 5px rgb(131, 140, 230),
    0 0 10px rgb(131, 140, 230); */
  border-radius: 20px;
  height: 85%;
  width: 90%;
  margin: auto;
}


.level3 {
  border: 2px solid red;
  height: 45px;
  width: 75%;
  margin: auto;
  background-color: rgb(189, 223, 19);
  border-radius: 20px;
}

.level2 {
  border: 2px solid red;
  height: 45px;
  width: 65%;
  margin: auto;
  background-color: rgb(118, 223, 19);
  border-radius: 20px;
}

.level1 {
  border: 2px solid red;
  height: 45px;
  width: 55%;
  margin: auto;
  background-color: rgb(91, 223, 19);
  border-radius: 20px;
}

.texts {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  border-radius: 18rem;
  border: 0px solid transparent;
  /* border-color: rgb(51, 70, 155); */
  height: 70%;
  width: 80%;
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin-left: 3rem;
  font-size: 25px;
  border: 2px solid rgb(131, 140, 230);
  box-shadow: 0 0 5px rgb(57, 164, 225), 0 0 10px rgb(57, 164, 225),
    0 0 20px rgb(57, 164, 225);
}

.texts a{
    color: aqua;
}
#yash_div {
  height: auto;
}

@media only screen and (max-width: 550px) {
  #yash_div {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 850px) {
  #yash_div {
    grid-template-columns: 1fr;
  }
}
