.about__text h3{
    text-align: left;
    margin-left: 10rem;
    font-size: 1.8rem;
}

.about__text p{
    text-align: center;
    margin-left: 14rem;
    margin-right: 12rem;
    font-size: 20px;
}


.portfolio__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3rem;
    height: 350px;
    margin: 20px;
    margin-left: 20px;
    
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 5.3rem;
    border-radius: 4.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    padding-bottom: 0;
    padding-top: 1rem;
    margin-right: 9rem;
    margin-left: 11rem;
    
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 4.5rem;
    overflow: hidden;
    height: 300px;
    width: 250px;
}



/* -----media queires for (medium devices)----- */
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* -----media queires for (medium devices)----- */
@media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}