.about__text h3{
    text-align: left;
    margin-left: 10rem;
    font-size: 1.8rem;
}

.about__text p{
    text-align: center;
    margin-left: 14rem;
    margin-right: 12rem;
    font-size: 20px;
}