*{
    box-sizing: border-box;
}
.maindiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 13rem;
    row-gap: 1.875rem;
    column-gap: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    align-items: auto;
}

.lotty_all{
    height: 10.5rem;
    width: 13rem;
}

#Home{
    height: auto;
}


.rect1, .rect2, .rect3, .rect4, .rect5, .rect6, .rect7, .rect8, .rect9{
    /* border: 2px solid magenta; */
    border:2px solid #31314b;
    background-color: #020215;
    color: white;
    height: 13.625rem;
    /* border-radius: 2.188rem; */
    /* box-shadow: 0 0 2px #a237db, 0 0 5px #a237db, 0 0 10px #a237db; */
}

.rect1 h4,.rect2 h4,.rect3 h4,.rect4 h4,.rect5 h4,.rect6 h4,.rect7 h4,.rect8 h4,.rect9 h4{
    text-align: center;
    margin: auto;
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9{
    height: 11rem;
    width: 13rem;
    justify-content: center;
}

.i1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media only screen and (max-width:550px) {
    .maindiv{
        grid-template-columns: 1fr;
        margin: auto;
    }
}

